package templates

templ Index() {
    @MainLayout("Hook Line Sinker") {
        <div id="content">
            <h1>Hook Line Sinker</h1>
            <p>The of(fish)al education game for CN Hackathon 2025!</p>
            <a href="/waiting">Play</a>
        </div>
 
        <img id="monitor" src="static/img/monitor.png" alt="monitor"/>
    }
}