package templates

templ Index() {
    @MainLayout("Hook Line Sinker") {
        <div id="content">
            <h1>Hook Line Sinker</h1>
            <p>
                The un-of(fish)al educational game for CN Hackathon 2025!
            </p>
            <h4>- made by team Ichytyhs</h4>
            <a hx-get="/waiting" hx-swap="outerHTML" hx-target="body">Play</a>
            <br>
            <a href="#">Credits</a>
        </div>
    }
}
