package templates

templ Index() {
    @MainLayout("HookLineSinker") {
        <h1>HookLineSinker</h1>
        <p>Catch the smarts!</p>
        <img src="static/img/smart_fish.png" alt="big fish"/>
    }
}