package templates

templ Waiting() {
    @MainLayout("Waiting") {
        <div id="content">
            <p>waiting for a big fish</p>
            <p>place image of fishing rod here</p>
        </div>

        <img id="monitor" src="static/img/monitor.png" alt="monitor"/>
    }
}