#fishing-rod, #fishing-foreground, #fishing-bg-1, #fishing-bg-2, #fishing-bg-3, #fishing-bg-4 {
    position: fixed;
    left: 2rem;
}

#fishing-foreground, #fishing-bg-1, #fishing-bg-2, #fishing-bg-3, #fishing-bg-4 {
    width: 720px;
    top: 300px;
    z-index: 1;
    opacity: 0.75;
}

#fishing-rod {
    left: 128px;
    top: 240px;
    height: 320px;
    z-index: 900;
}

#fishing-rod:hover {
    content: url("../img/fishing/fishing-rod-selected.png");
    cursor: pointer;
}

#fishing-rod:active {
    content: url("../img/fishing/fishing-rod-submerged.png");
}

#fishing-foreground {
    z-index: 4;
}

#fishing-bg-1 {
    z-index: 3;
    animation: slide 8s infinite linear;
}

#fishing-bg-2 {
    z-index: 2;
    animation: slide 10s infinite linear;
}

#fishing-bg-3 {
    z-index: 1;
    animation: slide 15s infinite linear;
}

@keyframes slide {
    0% {
        transform: translateX(0%); 
    }
    25% {
        transform: translateX(-3%); 
    }
    50% {
        transform: translateX(3%); 
    }
    75% {
        transform: translateX(-3%);  
    }
    100% {
        transform: translateX(0%);
    }
}