body {
    font-family: monospace;
    font-size: xx-large;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.crt {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #000, #000, #333, #333);
    background-size: cover;
    background-size: 100% 5px;
    color: #00afff;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 10px #00afff;
    display: flex;
    flex-direction: column;
    filter: blur(0.8px);
    border-radius: 20px;
    font-size: large;
    align-items: center;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  image-rendering: pixelated;
}

.img-opaque {
  opacity: 0.75;
}

#monitor {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
}

#content {
    padding: 4rem;
}

a {
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    color: #00afff;
}

a:hover {
    background-color: #00afff;
    color: black;
    cursor: pointer;
}

@media screen{
  .crt {
    animation: scanlines infinite 1s linear;
  }
} 
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -20px;
  }
}